body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/302/432/desktop-wallpaper-pokemon-scenery-pokemon-landscape.jpg");
    background-size: 100%;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #50b3a2;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #005e51 3px solid;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {
    color: #014640;
    font-weight: bold;
}
header a:hover {
    color: #ffffff;
    font-weight: bold;
}
.privacy-policy {
    padding: 15px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.privacy-policy h2, .privacy-policy h3 {
    color: #000000;
}
footer {
    padding: 20px;
    color: #ffffff;
    background: #50b3a2;
    text-align: center;
}